:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-green: #31d0aa;
    --color-grey: rgba(46, 47, 66, 0.7);
    --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
    --function-durection: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: #ffffff;
    color: var(--color-slate);
    font-family: "Roboto", sans-serif;
    /* font-style: normal;
  font-weight: 500; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    color: inherit;
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* a{
  text-decoration: none;
} */
h1,
h2,
h3,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 428px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/**
  |============================
  | Header
  |============================
*/
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-web {
    color: var(--color-iris);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 24px 0;
}

.logo-studio {
    color: var(--color-navy-blue);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.list-nav {
    color: var(--color-navy-blue);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: none;
    align-items: center;
    gap: 40px;
    /* padding: 24px 0; */
}

.header-link-menu:hover,
.header-link-menu:focus {
    color: var(--color-ocean);
}

.header-link-menu {
    position: relative;
    display: block;
    padding: 24px 0;
    transition: color var(--function-durection);
}

.header-link-menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
}

.header-link-menu.active::after {
    background-color: var(--color-ocean);
}

.active {
    position: relative;
    color: var(--color-ocean);
}

.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}

.address-link:hover,
.address-link:focus {
    color: var(--color-ocean);
}

.icon-menu-open {
    stroke: #2e2f42;
}

.btn-menu-open {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    width: 32px;
    height: 22px;
}

.list-address {
    display: flex;
    align-items: center;
    gap: 12px;
}

.address-link {
    display: block;
    font-weight: 400;
    color: var(--color-slate);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--function-durection);
}

.mobail-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.mobail-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding: 80px 40px 40px 35px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.menu-nav-link {
    color: var(--navyblue, #2E2F42);


    font-size: 36px;

    font-weight: 700;
    line-height: calc(40/36);
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.active {
    color: var(--color-ocean);
}

.menu-contack-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.menu-contact-link {
    color: var(--iris, #4D5AE5);


    font-size: 24px;

    font-weight: 700;
    line-height: calc(40/36);
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.menu-email-link {
    color: var(--slate, #434455);

    font-size: 20px;

    font-weight: 500;
    line-height: calc(40/20);
    letter-spacing: 0.4px;

}

.menu-soc-list {
    display: flex;
    justify-content: space-between;
}

.menu-soc-item {
    width: 40px;
    height: 40px;
}

.menu-soc-link {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-iris);

}

.menu-soc-icon {
    fill: var(--color-white);
}

@media screen and (min-width: 428px) {
    .menu-contact-link {
        font-size: 36px;
    }

}

@media screen and (min-width: 768px) {
    .mobail-menu {
        display: none;
    }

    .list-nav {
        display: flex;
    }

    .address {
        display: block;
    }

    .btn-menu-open {
        display: none;
    }

    .logo-web {
        margin-right: 120px;
    }

    .list-address {
        flex-direction: column;
    }

    .list-nav {
        font-weight: 500;
    }
}


@media screen and (min-width: 1158px) {
    .logo-web {
        margin-right: 76px;
    }

    .list-address {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
    }

    .list-nav {
        font-weight: 500;
    }
}

/**
  |============================
  |Section 1
  |============================
*/

.hero-section {
    padding: 112px 0;
    align-items: center;
    background-color: var(--color-navy-blue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/bg_mob@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-slogan {
    color: var(--color-white);
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.buton-hero {
    font-weight: 500;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-iris);
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    font-family: inherit;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    height: 56px;
    margin: 0 auto;
    display: block;
    border: none;
    min-width: 169px;
    transition: background-color var(--function-durection);
}

.buton-hero:hover,
.buton-hero:focus {
    background-color: var(--color-ocean);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero-section {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg_mob@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg_tab@1x.jpg);
    }

    .hero-slogan {
        font-size: 56px;
        line-height: calc(60 / 56);
        max-width: 496px;
        margin-bottom: 36px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg_tab@1x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg_desk@1x.jpg);
        padding: 188px 0;
    }

    .hero-slogan {
        margin-bottom: 48px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg_desk@2x.jpg);
    }
}

/**
  |============================
  | Section Feature 2
  |============================
*/
.visuality-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.section-feature {
    padding: 96px 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.lisl-feature {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.72px;
    margin-bottom: 8px;
    text-align: center;
}

.text-feature {
    color: var(--color-slate);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

.feature-icons-blok {
    height: 112px;

    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--color-cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}

/* .feature-icon {
    fill: #f4f4fd;
} */

@media screen and (min-width: 768px) {
    .lisl-feature {
        text-align: left;
    }

    .menu {
        display: flex;
        padding-left: 0;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .list-feature-l {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .section-feature {
        padding: 120px 0;
    }

    .feature-icons-blok {
        display: flex;
    }

    .menu {

        gap: 24px;
    }

    .list-feature-l {
        width: calc((100% - 72px) / 4);
    }

    .lisl-feature {


        font-size: 20px;

        font-weight: 500;
        line-height: calc(24/20);

        letter-spacing: 0.4px;
    }

    .text-feature {
        font-weight: 400;
    }
}

/**
  |============================
  | Section What are we doing 3
  |============================
*/

.image-section {
    padding-bottom: 120px;
    padding-top: 0;
    display: none;
}

.image-title {
    color: var(--color-navy-blue);
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-image {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 24px;
}

.only-image {
    width: calc((100% - 48px) / 3);
}

@media screen and (min-width: 1158px) {
    .image-section {
        display: block;
    }
}

/**
  |============================
  | Section Our Team 4
  |============================
*/
.team {
    background-color: var(--color-cloud);
    padding: 96px 0;
}

.list-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.team-list {
    background-color: var(--color-white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-section-title {
    color: var(--color-navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: calc(40 / 36);
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-title {
    color: var(--color-navy-blue);
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.4px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.32px;
    text-align: center;
    color: var(--color-slate);
    margin-bottom: 8px;
}

.team-parametrs {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding: 32px 0;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.socials-link {
    width: 40px;
    height: 40px;
    background-color: var(--color-iris);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-cloud);
    transition: background-color var(--function-durection);
}

.socials-icons {
    fill: currentColor;
    fill: var(--color-cloud);
}

.socials-link:hover,
.socials-link:focus {
    background-color: var(--color-ocean);
}

@media screen and (min-width: 768px) {
    .list-about {

        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }


}

@media screen and (min-width: 1158px) {
    .list-about {
        gap: 24px;
    }

    .team {
        padding: 120px 0;
    }
}

/**
  |============================
  | Customers
  |============================
  | 
*/
.customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-box {}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-top: 0px;
}

.customers-item {

    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-list {
    display: flex;
    gap: 72px 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--color-light-slate);
    height: 100%;
    width: 100%;
    color: var(--color-light-slate);
    transition: border-color var(--function-durection),
        color var(--function-durection);
}

.customers-icon {
    fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--color-ocean);
    color: var(--color-ocean);
}

@media screen and (min-width: 768px) {
    .customers-box {
        width: 584px;
    }

    .customers-list {
        display: flex;
        gap: 72px 24px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .customers-item {

        height: 88px;
        width: calc((100% - 2 * 24px) / 3);
    }
}

@media screen and (min-width: 1158px) {

    .customers-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-box {
        width: 100%;
    }

    .customers-list {
        flex-direction: row;
    }

    .customers-item {
        flex-basis: calc((100% - 120px) / 6);
        height: 88px;
    }
}

/**
  |============================
  | Footer
  |============================
*/
.footer-box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 72px;
}

.footer {
    background-color: var(--color-navy-blue);
    padding: 96px 0;
}

.title-footer {
    color: var(--color-cloud);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.studio-footer {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-cloud);
}

.web-footer {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-socials-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-cloud);
    transition: background-color var(--function-durection);
}

.footer-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;

}

.socials-icons-footer {
    fill: currentColor;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.footer-form-text {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
}

.form-box {
    width: 100%;
}

.label-footer {
    color: #8e8f99;
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    width: 100%;
}

.subscribe-form {

    height: 40px;
    width: 100%;
    border: 1px solid var(--color-white);

    border-radius: 4px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;

    font-size: 12px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--color-white);
    outline: none;
}

.subscribe-form::placeholder {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.04em;
}

.btn-send-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    min-width: 165px;
    height: 40px;
    color: var(--color-white);
    border: none;
    background-color: var(--color-iris);
    border-radius: 4px;
    padding: 8px 24px;
    color: var(--color-white);

    font-family: "Roboto", sans-serif;
    font-size: 16px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.btn-send-footer:hover,
.btn-send-footer:focus {
    background-color: var(--color-ocean);
}

.icon-send-footer {
    fill: currentColor;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .footer-box {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        width: 584px;
        justify-content: flex-start;
    }

    .web-footer {
        justify-content: flex-start;
    }

    .footer-text {
        text-align: left;
    }

    .footer-form {
        flex-direction: row;
    }

    .footer-form-text {
        text-align: left;
    }

    .subscribe-form {
        width: 264px;
    }

    .label-footer {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-box {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;

        width: 100%;
        gap: 0;

    }

    .footer-logo-box {
        margin-right: 120px;

    }

    .form-box {
        /* width: 220px; */
        margin-left: 80px;
    }

    /* .form-box {
    margin-left: auto;
  } */
    /* .title-footer {
    max-width: 264px;
  } */

    /* 
  .footer {
    padding: 100px 0;
  
  } */

    /* .footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
  } */


}

/**
  |============================
  | Button
  |============================
*/
.section-portfolio {
    padding: 96px 0 120px;
}

.buton-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.about-buton {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-family: inherit;
    font-size: 16px;
    padding: 12px 24px;
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    transition: color var(--function-durection),
        background-color var(--function-durection),
        border-color var(--function-durection), box-shadow var(--function-durection);
}

.about-buton:hover,
.about-buton:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**
  |============================
  | Section services
  |============================
*/

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    background-color: var(--color-white);
}

.services-card {
    width: calc((100% - 48px) / 3);
}

.title-portfolio {
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.text-portfolio {
    font-weight: 400;
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.text-card {
    padding: 32px 16px;
    border: 1px solid var(--color-cornflower);
    border-top: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-ocean);
    width: 100%;
    height: 100%;
}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    color: var(--color-cloud);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    height: 100%;
    background-color: var(--color-iris);
    transform: translateY(100%);

    transition: transform var(--function-durection);
}

.portfolio-link {
    display: block;
    transition: box-shadow var(--function-durection);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
    transform: translateY(0%);
}

/**
  |============================
  |Modal window
  |============================
*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity var(--function-durection),
        visibility var(--function-durection);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 100%;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: var(--color-dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--function-durection);
    padding: 72px 16px 24px 16px;
}

.modal-close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: var(--color-navy-blue);
    background-color: var(--color-cornflower);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-icon {
    fill: currentColor;
    /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--color-ocean);
    color: var(--color-white);
    border: none;
}

.modal-form {}

.modal-fild {
    margin-bottom: 8px;
}

.text-modal {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.modal-label-text {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-wrapper {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms var(--function-durection);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    outline: none;
    border-color: #4d5ae5;
}

.icon-modal-form {
    position: absolute;
    top: 50%;
    left: 16px;
    /* transform: translate(0, -50%); */
    /* right: 4px; */
    fill: var(--color-navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%);
    pointer-events: none;
}

.modal-form-input:focus+.icon-modal-form {
    fill: var(--color-iris);
    border-color: #4d5ae5;
}

.fild-textarea {
    margin-bottom: 16px;
    display: block;
}

.modal-comment {
    resize: none;
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: var(--function-durection);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
    outline: none;
    border-color: #4d5ae5;
}

.fild-chekc {
    margin-bottom: 24px;
}

.form-agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
}

.chekc-empty {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--function-durection),
        border var(--function-durection), fill var(--function-durection);
}

.form-check-input:checked+.form-agreement>.chekc-empty {
    background-color: var(--color-ocean);
    border: none;
    fill: var(--color-cloud);
}

/* .form-agreement::before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-navy-blue-modal);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  vertical-align: middle;
  transition: var(--function-durection);
} */
/* .form-check-input:checked + .form-agreement::before {
  background-color: var(--color-ocean);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.form-check-input:focus + .form-agreement::before {
  border-color: var(--color-ocean);
} */

/* .form-check-input {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;


}

.form-check-input:focus-visible {
  outline-color: var(--color-navy-blue);
} */

.agreement-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-iris);
}

.button-send {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    background-color: #4d5ae5;
    height: 56px;
    border: none;
    margin-left: auto;
    margin-right: auto;

    color: var(--color-white);
    border-color: transparent;
    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-send:hover,
.button-send:focus {
    background-color: var(--color-ocean);
}

@media screen and (min-width: 428px) {
    .modal {
        width: 392px;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px;
    }
}